/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Canvas: Resume
	--cnvs-themecolor: #a9a9a9;
	--cnvs-themecolor-rgb: 169, 169, 169;
-----------------------------------------------------------------*/

